html,
body,
.app {
  height: 100vh;
  background: #eee;
  padding: 1em;
}

/* Messages.js */
.messages {
  height: 62vh;
  overflow-y: scroll;
}

.messages__progress {
  height: 58vh;
  overflow-y: scroll;
}

/* MessageForm.js */
.message__form {
  position: fixed !important;
  bottom: 1em;
  margin-left: 320px !important;
  left: 0;
  right: 1em;
  z-index: 200;
}

/* Message.js */
.message__self {
  border-left: 2px solid orange;
  padding-left: 8px;
}

.message__image {
  padding: 1em;
}

.progress__bar {
  margin: 0.3em 0 0 0 !important;
}
